## If statemments

In [1]:
# Check if the deforestation rate exceeds 20% and print a warning if it does.
deforestration_rate = 0.25
if deforestration_rate > 0.2:
    print("Critical deforestation level reached!")

Critical deforestation level reached!

### Nested if statements

In [2]:
# Check if the deforestation rate exceeds 15% in a protected area and print an urgent action message if it does.
deforestaion_rate = 0.18
protected_area = True

if deforestration_rate > 0.15:
    if protected_area:
        print("Urgent action needed in protected area due to high deforestation rate!")

Urgent action needed in protected area due to high deforestation rate!

### If -else statements

In [3]:
# Print a deforestation alert message if the alert is active, otherwise indicate no alerts.
deforestation_alert = True
if deforestation_alert:
    print("Al)ert: Deforestation detected!")
else:
    "No Deforestation alerts"

Al)ert: Deforestation detected!

### Elif statements

In [4]:
# Classify and print the deforestation rate as 'Critical level', 'High level', or 'Normal level'
# based on its percentage.
deforestation_rate = 0.10

if deforestation_rate > 0.2:
    print("Critical level")
elif deforestration_rate > 0.1:
    print("High level")
else:
    print("Normal level")

High level

In [5]:
# Determine and print appropriate environmental actions based on the current deforestation rate level.
deforestation_rate= 0.12
if deforestation_rate > 0.3:
    print("Implement emergency measures")
elif deforestation_rate >0.2:
    print("Increase surveillance and conservation efforts")
elif deforestation_rate > 0.1:
    print("Monitor and plan reforestation")
else:
  print("Deforestation rate is within safe limits")

Monitor and plan reforestation

### Conditional Statement Keywords: not and pass

In [6]:
# Prints "Forest is healthy!" if no deforestation is detected, otherwise alerts that deforestation has
# been detected.
deforestation_detected = False

if not deforestation_detected:
    print("Forest is healthy!")
else:
    print("Deforestation detected!")

Forest is healthy!

### Pass staement

In [7]:
# This code will result in an error because the 'if' block is empty.

deforestation_rate= 0.05
if deforestation_rate >0.1:
    pass
else:
    print("No immediate action required")

No immediate action required

### Ternary operator

In [8]:
# Sets and prints the deforestation status based on the deforestation rate.

deforestation_rate = 0.07
status = "High" if deforestation_rate > 0.1 else "Normal"
print(f"Deforestation status: {status}")

Deforestation status: Normal

### Python loops

In [9]:
list_of_numbers = [0,1,2,3,4,5]
for i in list_of_numbers:
    print(i)

0
1
2
3
4
5

## While loops

In [10]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

## List

In [11]:
deforestation_rates = [150, 145, 140, 135, 130]
deforestation_years = [2010, 2011, 2012, 2013, 2014]

In [12]:
for i in range(len(deforestation_rates)):
    rate = deforestation_rates[i]
    year = deforestation_years[i]
    print(f"i = {i} - Yearly deforestation rate in {year} is: {rate}k hectares")

i = 0 - Yearly deforestation rate in 2010 is: 150k hectares
i = 1 - Yearly deforestation rate in 2011 is: 145k hectares
i = 2 - Yearly deforestation rate in 2012 is: 140k hectares
i = 3 - Yearly deforestation rate in 2013 is: 135k hectares
i = 4 - Yearly deforestation rate in 2014 is: 130k hectares

##  Dictonaries

In [13]:
marine_species_count ={
    'Dolphins': 12,
    'Whales' : 3,
    'Sea Turtles':7
}
for species in marine_species_count:
    print(f"{species}: {marine_species_count[species]} sightings")

Dolphins: 12 sightings
Whales: 3 sightings
Sea Turtles: 7 sightings

### Using Controlling Loops

In [14]:
endangered_marine_species = ['Hawksbill Turtle', 'Vaquita', 'Blue Whale', 'Staghorn Coral', 'Green Turtle']
endangered_count =0
# Your task: Use a for loop to count the number of species in the list
for species in endangered_marine_species:
    endangered_count +=1
print(f"Number of endangered marine species: {endangered_count}")

Number of endangered marine species: 5

## Deforestation alert
Objective: Use a while loop to simulate a deforestation monitoring system that alerts when the forested area falls below a critical threshold.

In [15]:
initial_forested_area = 1000
deforestation_rate = 20 

years = 0
while initial_forested_area > 500:
    initial_forested_area -= deforestation_rate
    years += 1

print(f"Years until critical deforestation level: {years}")

Years until critical deforestation level: 25

### Biodiversity analysis

In [16]:
animals = ['Tiger', 'Blue Whale', 'African Elephant', 'Koala', 'Panda']
endangered_animals = ['Tiger', 'Blue Whale', 'African Elephant']

# Your task: Use a for loop to print out each animal's name and its endangered status
for animal in animals:
    if animal in endangered_animals:
        print(f'{animal} is Endangered_species')
    else:
        print(f'{animal} is not endangered.')

Tiger is Endangered_species
Blue Whale is Endangered_species
African Elephant is Endangered_species
Koala is not endangered.
Panda is not endangered.

## Ocean pollution tracker

In [17]:
ocean_pollution_data = {
    'Pacific Ocean': [3, 5, 2],  # pollution levels
    'Atlantic Ocean': [7, 2, 4],
    'Indian Ocean': [5, 1, 3]
}
# Your task: Use loops to calculate the average pollution level for each ocean and print it
for ocean, pollution_levels in ocean_pollution_data.items():
    total =sum (pollution_levels)
    count = len(pollution_levels)
    average = total/count
print(f"The average pollution level in the {ocean} is {average:.2f}")

The average pollution level in the Indian Ocean is 3.00

## Species conservation

In [18]:
current_population = 150
target_population = 500
years = 0
growth_rate = 1.07

# Your task: Use a while loop to calculate how many years it takes to reach the target population
while current_population < target_population:
    
    current_population *=growth_rate
    years +=1
print(f"Years to reach target population: {years}")

Years to reach target population: 18

### Basic list comprehension

In [19]:
numbers = range(1, 11)

squares = [ num**2 for num in numbers] # Fill in the list comprehension
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### List comprehension with a conditional

In [20]:
numbers = range(1, 21)
even_numbers = [x for x in numbers if x %2 == 0] # Fill in the list comprehension
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Dictionary comprehension

In [21]:
marine_animals = ['Dolphin', 'Shark', 'Turtle']

# Dictionary comprehension to map each animal to 'Aquatic'
animal_categories = {animal: 'Aquatic' for animal in marine_animals}
print(animal_categories)

{'Dolphin': 'Aquatic', 'Shark': 'Aquatic', 'Turtle': 'Aquatic'}

### Data mapping with dictionary comprehension
Use dictionary comprehension to create a mapping of each marine species to its conservation status based on the given lists. Only include species marked as 'Endangered'.

In [22]:
species = ['Dolphins', 'Whales', 'Sea Turtles', 'Seals']
status = ['Endangered', 'Vulnerable', 'Endangered', 'Least Concern']
number_of_species = range(len(species))

endangered_species = {
    species[i]: status[i] 
    for i in number_of_species 
    if status[i] == 'Endangered'
}

print(endangered_species)

{'Dolphins': 'Endangered', 'Sea Turtles': 'Endangered'}

## Python  Functons

In [23]:
### Create a function
def calc_forest_area(length, width):
    area = length * width
    return area

### Call the function

In [24]:
calc_forest_area(300, 5000)

1500000

### Docstrings 
improve code readability by allowing anyone viewing it to grasp its intent without having to decipher it, making collaboration easier. In our code base, we tend to construct several functions that perform a variety of tasks. Having documentation that explains what the function does and how to use it makes it easier to keep track of all our functions. We are also able to access the documentation for all our functions using the doc attribute, as well as the built-in help() function.

In [25]:
calc_forest_area.__doc__
help(calc_forest_area)

Help on function calc_forest_area in module __main__:

calc_forest_area(length, width)
    ### Create a function

## Exercise 
Our task is to analyse the overall carbon impact considering deforestation, tree planting, and carbon offset. Implement the analyse_carbon_impact function, which takes lists of deforested areas and planted trees, the carbon emission factor and an offset per tree as parameters. The function should return one of three categories: Positive, Neutral, or Negative, representing the overall carbon impact.

Guidance:

Calculate the total emission by summing the product of each deforested area and the carbon emission factor.
Calculate the total offset by summing the product of each planted tree and the carbon offset per tree.
Compute the overall impact by subtracting the total offset from the total emission.
Use conditional statements to categorise the overall impact into Positive, Neutral, or Negative based on the following criteria:

If total offset >= total emission, categorise as Positive.
If total offset == total emission, categorise as Neutral.
If total offset < total emission, categorise as Negative.

Return the categorised impact.

In [26]:
def analyse_carbon_impact(deforested_areas, planted_trees,
carbon_emission_factor, offset_per_tree):
    total_emission = sum(deforested_areas) *carbon_emission_factor
    total_offset =sum(planted_trees)*offset_per_tree
    overall_impact = total_emission - total_offset
    if total_offset >= total_emission :
        return "Posivite"
    if total_offset >= total_emission :
        return "Negative"
    else:
        return "Neautral"

### Apply our function

In [27]:
deforested_areas = [10, 15, 8, 12, 20]
planted_trees = [30, 40, 25, 35, 50]
carbon_emission_factor = 30
offset_per_tree = 5

output = analyse_carbon_impact(deforested_areas, planted_trees,
carbon_emission_factor, offset_per_tree)
output

'Neautral'

### Excercise 2
We are assigned the task of projecting the future number of planted trees based on an initial planting, an annual growth rate, and the number of years for projection. Implement the project_future_tree_planting function, which takes the initial number of planted trees, the annual growth rate, and the number of projection years as parameters. The function should return a list representing the projected tree planting for each year.

Guidance:

Use a list comprehension to calculate the projected planting for each year based on the initial planting, annual growth rate, and projection years.
The formula for projection is: initial_planted_trees * (1 + annual_growth_rate) ** year.
Return the list of projected tree planting.

In [28]:
def projected_plating(initial_planting: int, annual_growth_rate: float,number_of_projection_years: float)->list[float]:
    return [initial_planting *(1 + annual_growth_rate) ** number_of_projection_years]

In [29]:
initial_planting = 100
annual_growth_rate = 0.05
number_of_projection_years = 10

results = projected_plating(initial_planting,annual_growth_rate,number_of_projection_years)
results

[162.8894626777442]

### Algorithms and Algorithmic complexity

0(1) - known as constant time
represents an algorithm that will always execute in the same time, or space, independent of the input size.

In [30]:
def is_first_element_null(elements):
    return elements[0]== None

In the above implementation, regardless of the number of elements we input to this function, we will always require a
constant number of operations to index and return the required element.

### O(N) 
known as linear time represents an algorithm whose performance will groow linearly and in direct proportion to the size of the input.

In [31]:
def contains_value(elements, string_value):
    for e in elements:
        if e == string_value:
            return True
        return False

In this example, the performance of the function is directly dependent on the size of the input or the elements.

It also demonstrates how Big O favours the worst-case performance scenario. A matching string could be found during any iteration of the for loop and the function would return early, but Big O will always assume the upper limit where the algorithm will perform the maximum number of iterations.

### O(N2)
Known as quadratic time - represents an algorithim whose performance is directly proportional to the square of the input
This is common with algorithims that involve nested iterations over the dataset. Deeper nested iterations will results in O(N3), O(N4)

In [32]:
def contains_duplicates(elements):
    for i, el in enumerate(elements):
        for j , e2 in enumerate(elements):
            """ return  a true if the elements indices are different and the elements are the same"""
            if ((i !=j) & (e1 == e2)):
                return True
            return False

### O(2N)

O(2N)
 , known as exponential time, denotes an algorithm whose growth doubles with each addition to the input dataset. The growth curve of an  O(2N)
  function is exponential â€“ starting shallow, then rising meteorically.

An example of an  O(2N)
  function is the recursive calculation of Fibonacci numbers.

In [33]:
def fibonacci(number):
    if number <= 1:
        return 1
    return fibonnacci(number -2) + fibonacci(number -1)

### O(logN)
Logarithms are slightly trickier to explain. O(logN) means that time increases linearly while n increases exponentially. 
    This complexity occurs with "divide and conquer" algorithms like binary search, as seen in the figure below.

In [34]:
#Create a binary search algorithm as represented in the image
def binary_search(elements, string_val):

    if len(elements) == 1:
        return 0 if elements[0] == string_val else None

    mid = len(elements) // 2
    if string_val == elements[mid]:
        return mid

    if string_val < elements[mid]:
        return binary_search(elements[:mid], string_val)
    else:
        return mid + binary_search(elements[mid:], string_val)

In [35]:
#Implement binary_search
binary_search([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 5)

4

#### Search Algrithim

procedure linear_search(list,target)
      for each element in the list
      if the element equals the target
            return its index
      return not found
end procedure

Binary search 
A binary search algorithim applies a divide and conquer strategy 
The algorithim recurseivly or iteratively havles the list
In a recursive implementation binary_search_recur(items, target)
len(items)//2 = 8//2 =4
midpoint = (start + end) =// 2

## Pseudo code
procedure binary_search_recur(list items, target)
 find the midpoint of items
 if length of items == 1 then
      return midpoint if midpoint is equal to the target value, otherwise  return False
 else if midpoint 
      return midpoint
 else 
     if midpoint item < target 
         call binary_search_recur on right side sublist and target value
         return midpoint + call is not False, otherwise return False
     else
         return call binary_search_recur on left side sublist and targe

In [36]:
import search_time_complexity as tc
import matplotlib.pyplot as plt
import algorithms as alg

ModuleNotFoundError: No module named 'search_time_complexity'

#### Python modules

In [37]:
# Contents of the module we are creating 
content = """
s = 'Hello ' 

def say_hi(name):
    print(s + name)

class Greet:
    pass
"""
# within our current working directory. 
with open('./my_module.py', 'w') as fp:
    fp.write(content)

In [38]:
#Import the module we've just made! 
import my_module

In [39]:
try:
    # Try to print the variable s
    print(s)
except NameError:
    # We've caught a NameError exception (error!)
    # We inform the programmer (you) that the variable does not exist
    print("Variable 's' does not exist!")

Variable 's' does not exist!

In [40]:
# Accessing the variable s in my_module
my_module.s

'Hello '

In [41]:
# Accessing the say_hi function in my_module
my_module.say_hi('Hendry')

Hello Hendry

In [42]:
# Alias for my_module
import my_module as md

In [43]:
# Accessing the variable s using an alias
md.s

'Hello '

In [44]:

# Accessing the say_hi function using an alias for my_module
md.say_hi('Jabulani')

Hello Jabulani

####  To select all objects from a module we can use the following command, where the asterisk ( * )

In [45]:
from my_module import *

### Build-in Modules

In [46]:
help('modules') # this might take a while

Please wait a moment while I gather a list of all available modules...

C:\Users\Administrator\anaconda3\Lib\site-packages\pydantic\experimental\__init__.py:7: PydanticExperimentalWarning: This module is experimental, its contents are subject to change and deprecation.
  warnings.warn(
C:\Users\Administrator\anaconda3\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

IPython             cProfile            mailbox             sre_compile
PIL                 cachetools          mailcap             sre_constants
PyQt5               calendar            markupsafe          sre_parse
__future__          certifi             marshal             ssl
__hello__           cffi                math                sspi
__phello__          cgi                 matplotlib          sspicon
_abc                cgitb               matplotlib_inline   stack_data
_aix_support        chardet             menuinst            start_pythonwin
_argon2_cffi_bindings charset_normalizer  mimetypes           stat
_ast                chunk               mistune             statistics
_asyncio            click               mmap                streamlit
_bisect             cmath               mmapfile            string
_blake2             cmd                 mmsystem            stringprep
_brotli             code                modulefinder        struct
_bz2                codecs              more_itertools      subprocess
_cffi_backend       codeop              msilib              sunau
_codecs             collections         msvcrt              symtable
_codecs_cn          colorama            multidict           sys
_codecs_hk          colorsys            multiprocessing     sysconfig
_codecs_iso2022     comm                my_module           tabnanny
_codecs_jp          commctrl            narwhals            tabulate
_codecs_kr          compileall          navigator_updater   tarfile
_codecs_tw          concurrent          nbclient            telnetlib
_collections        conda               nbconvert           tempfile
_collections_abc    conda_build         nbformat            tenacity
_compat_pickle      conda_content_trust nest_asyncio        terminado
_compression        conda_env           netbios             test
_contextvars        conda_index         netrc               test_pycosat
_csv                conda_libmamba_solver networkx            textwrap
_ctypes             conda_pack          nntplib             this
_ctypes_test        conda_package_handling notebook            threading
_datetime           conda_package_streaming notebook_shim       threadpoolctl
_decimal            conda_token         nt                  time
_distutils_hack     configparser        ntpath              timeit
_elementtree        contextlib          ntsecuritycon       timer
_functools          contextvars         nturl2path          tinycss2
_hashlib            contourpy           numbers             tkinter
_heapq              copy                numpy               token
_imp                copyreg             odbc                tokenize
_io                 crypt               opcode              toml
_json               cryptography        operator            tomli
_locale             csv                 optparse            tomllib
_lsprof             ctypes              os                  tornado
_lzma               curses              overrides           tqdm
_markupbase         cwp                 packaging           trace
_md5                cycler              pandas              traceback
_msi                dataclasses         pandocfilters       tracemalloc
_multibytecodec     datetime            parso               traitlets
_multiprocessing    dateutil            pathlib             truststore
_nsis               dbi                 pdb                 tty
_opcode             dbm                 perfmon             turtle
_operator           dde                 pickle              turtledemo
_osx_support        debugpy             pickletools         typeguard
_overlapped         decimal             pip                 types
_pickle             decorator           pipes               typing
_py_abc             defusedxml          pkce                typing_extensions
_pydatetime         difflib             pkg_resources       tzdata
_pydecimal          dis                 pkginfo             ujson
_pyio               distro              pkgutil             unicodedata
_pylong             doctest             platform            unittest
_queue              dotenv              platformdirs        urllib
_random             email               plistlib            urllib3
_ruamel_yaml        encodings           pluggy              uu
_sha1               ensurepip           ply                 uuid
_sha2               enum                poplib              venv
_sha3               errno               posixpath           warnings
_signal             executing           pprint              watchdog
_sitebuiltins       fastjsonschema      prettytable         wave
_socket             faulthandler        profile             wcwidth
_sqlite3            filecmp             prometheus_client   weakref
_sre                fileinput           prompt_toolkit      webbrowser
_ssl                filelock            pstats              webencodings
_stat               fnmatch             psutil              websocket
_statistics         fontTools           pty                 wheel
_string             fractions           pure_eval           win2kras
_strptime           frozendict          py_compile          win32api
_struct             frozenlist          pyarrow             win32clipboard
_symtable           fsspec              pyclbr              win32com
_system_path        ftplib              pycosat             win32con
_testbuffer         functools           pycparser           win32console
_testcapi           gc                  pydantic            win32cred
_testclinic         genericpath         pydantic_core       win32crypt
_testconsole        getopt              pydeck              win32cryptcon
_testimportmultiple getpass             pydoc               win32ctypes
_testinternalcapi   gettext             pydoc_data          win32event
_testmultiphase     git                 pyexpat             win32evtlog
_testsinglephase    gitdb               pygments            win32evtlogutil
_thread             glob                pylab               win32file
_threading_local    graphlib            pymysql             win32gui
_tkinter            greenlet            pyparsing           win32gui_struct
_tokenize           gzip                pythoncom           win32help
_tracemalloc        h11                 pythonjsonlogger    win32inet
_typing             hashlib             pytz                win32inetcon
_uuid               heapq               pywin               win32job
_warnings           hmac                pywin32_bootstrap   win32lz
_weakref            html                pywin32_testutil    win32net
_weakrefset         http                pywintypes          win32netcon
_win32sysloader     httpcore            qtpy                win32pdh
_winapi             httpx               queue               win32pdhquery
_winxptheme         idlelib             quopri              win32pdhutil
_wmi                idna                random              win32pipe
_xxinterpchannels   imaplib             rasutil             win32print
_xxsubinterpreters  imghdr              re                  win32process
_yaml               importlib           referencing         win32profile
_zoneinfo           importlib_metadata  regcheck            win32ras
abc                 importlib_resources regutil             win32rcparser
adodbapi            inflect             repo_cli            win32security
afxres              inspect             reprlib             win32service
aifc                intake              requests            win32serviceutil
aiohappyeyeballs    io                  requests_toolbelt   win32timezone
aiohttp             ipaddress           rfc3339_validator   win32trace
aiosignal           ipykernel           rfc3986_validator   win32traceutil
altair              ipykernel_launcher  rlcompleter         win32transaction
anaconda_anon_usage ipython_genutils    rpds                win32ts
anaconda_catalogs   ipython_pygments_lexers ruamel_yaml         win32ui
anaconda_cloud_auth isapi               runpy               win32uiole
anaconda_navigator  itertools           sched               win32verstamp
anaconda_project    jedi                scipy               win32wnet
annotated_types     jinja2              seaborn             win_inet_pton
antigravity         joblib              secrets             winerror
anyio               json                select              winioctlcon
archspec            json5               selectors           winnt
argon2              jsonpatch           semver              winperf
argparse            jsonpointer         send2trash          winpty
array               jsonschema          servicemanager      winreg
ast                 jsonschema_specifications setuptools          winsound
asttokens           jupyter             shelve              winxpgui
async_lru           jupyter_client      shlex               winxptheme
asyncio             jupyter_core        shutil              wsgiref
atexit              jupyter_events      signal              xdrlib
attr                jupyter_lsp         sipbuild            xml
attrs               jupyter_server      site                xmlrpc
audioop             jupyter_server_terminals six                 xxlimited
autocommand         jupyterlab          sklearn             xxlimited_35
babel               jupyterlab_pygments smmap               xxsubtype
backports           jupyterlab_server   smtplib             yaml
base64              jwt                 sndhdr              yarl
bdb                 keyring             sniffio             zipapp
binascii            keyword             socket              zipfile
binstar_client      kiwisolver          socketserver        zipimport
bisect              lib2to3             socks               zipp
bleach              libarchive          sockshandler        zlib
blinker             libmambapy          soupsieve           zmq
boltons             lief                sql                 zoneinfo
brotli              linecache           sqlacodegen         zstandard
bs4                 locale              sqlalchemy
builtins            logging             sqlite3
bz2                 lzma                sqlparse

Enter any module name to get more help.  Or, type "modules spam" to search
for modules whose name or summary contain the string "spam".

In [47]:
# Import math module 
import math

# Use the sqrt function in the math module
x = math.sqrt(81)
print('The square root of 81 is equal to {}'.format(x))

# List all functions in math module 
list_all= dir(math)
print('Functions in the math module: {}'.format(list_all))

The square root of 81 is equal to 9.0
Functions in the math module: ['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'sumprod', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

#### Accessing DataFrame

In [49]:
# Select the 5th row using iloc[].
# df.iloc[4]
# Select the M. Neuer index using loc[].
# df.loc['M. Neuer']

## Data frames

In [52]:
import pandas as pd
import numpy as np

dt= pd.read_csv("homeprices.csv")
dt.head()

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

### Sorting

In [53]:
dt.sort_values(by='area').head()

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

## Filtering

In [55]:
dt[dt["area"] > 3500]

   area   price
3  3600  680000
4  4000  725000

In [58]:
dt[(dt["area"] >3500) & (dt["price"] >565000)]

   area   price
3  3600  680000
4  4000  725000

### Creating columns

In [61]:
# Create a column of rating per year of age
dt["Rating Per Area"] = dt["price"] / dt["area"]

In [62]:
dt["Rating Per Area"].head()

0    211.538462
1    188.333333
2    190.625000
3    188.888889
4    181.250000
Name: Rating Per Area, dtype: float64

### Detelenting Columns

In [63]:
dt = dt.drop('Rating Per Area', axis = 1)
dt.head()

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

### Grouping Data

In [65]:
# Lets look at the average rating by age (first 5 rows).
dt.groupby('area')[['price']].mean().head()

         price
area
2600  550000.0
3000  565000.0
3200  610000.0
3600  680000.0
4000  725000.0

### Group by more than one column

In [ ]:
dt.groupby(['area','overall'])[['price']].mean().head()

### Lambda Functions
lambda operations can have any number of arguments bt they can have only one expression. It cannot contain any print or raise statements, and it returns a function object which can be assigned to any variable

In [66]:
year_to_month_lamb = lambda x: x * 12

## Converting areas into hectors

In [71]:
dt['area_hectares']=dt['area'].apply(lambda x: x/10000)
dt['area_hectares'].head()

0    0.26
1    0.30
2    0.32
3    0.36
4    0.40
Name: area_hectares, dtype: float64

Let's try to create a function that creates a column with the player position type, where types can be Forward, Midfielder, Back, or GoalKeeper.

In [72]:
def position_type(s):
    if (s[-2] == 'T') | (s[-2] == 'W'):
        return 'Midfielder'
    elif s[-2]== 'M' :
        return 'Midfielder'
    elif s[-2]== 'B':
        return 'Back'
    else:
        return 'GoalKeeper'

In [78]:
dfa= pd.read_csv('https://raw.githubusercontent.com/Explore-AI/Public-Data/master/Data/Python/Animals.csv')

In [79]:
dfa.head()

,Species,Average Lifespan (Years),Habitat,Conservation Status
0,African Elephant,60,Grasslands,Vulnerable
1,Bengal Tiger,15,Forests,Endangered
2,Blue Whale,80,Ocean,Endangered
3,Giant Panda,20,Temperate Forest,Vulnerable
4,Komodo Dragon,30,Islands,Vulnerable

Filter the dataset to show only species that have an Average Lifespan (Years) greater than 20 and are classified as Vulnerable in Conservation Status.

In [83]:
filtered_data = dfa[
    (dfa["Average Lifespan (Years)"] > 20) &
    (dfa["Conservation Status"] == "Vulnerable")
]

In [84]:
filtered_data.head()

            Species  Average Lifespan (Years)     Habitat Conservation Status
0  African Elephant                        60  Grasslands          Vulnerable
4     Komodo Dragon                        30     Islands          Vulnerable
5        Polar Bear                        25      Arctic          Vulnerable

Create a new column Lifespan in Months by converting the Average Lifespan (Years) to months.

In [86]:
dfa["Average Lifespan (Months)"] = dfa["Average Lifespan (Years)"].apply(lambda x: x * 12)
dfa["Average Lifespan (Months)"].head()

0    720
1    180
2    960
3    240
4    360
Name: Average Lifespan (Months), dtype: int64

Delete the Lifespan in Months column from the DataFrame.

In [88]:
dfa.drop("Average Lifespan (Months)",axis = 1, inplace=True)

Filter the DataFrame animal_df to include only species with an Average Lifespan (Years) greater than 50 years. Store the result in a new DataFrame Long_lived_species.

In [90]:
Long_lived_species= dfa[dfa['Average Lifespan (Years)'] > 50]
Long_lived_species.head()

,Species,Average Lifespan (Years),Habitat,Conservation Status
0,African Elephant,60,Grasslands,Vulnerable
2,Blue Whale,80,Ocean,Endangered
13,Green Sea Turtle,80,"Oceans, Beaches",Endangered

Using the apply and lambda functions, convert the Average Lifespan (Years) of all species into the float data type in Long_lived_species

In [93]:
Long_lived_species.loc[:, "Average Lifespan (Years)"] = 
Long_lived_species["Average Lifespan (Years)"].apply(lambda x: float(x))


List all columns for species that have the string "Endangered" as part of their conservation status.

In [95]:
endangered_species = dfa[dfa["Conservation Status"].
    str.contains("Endangered", case=False, na=False)]
endangered_species

,Species,Average Lifespan (Years),Habitat,Conservation Status
1,Bengal Tiger,15,Forests,Endangered
2,Blue Whale,80,Ocean,Endangered
9,Orangutan,35,Rainforests,Critically Endangered
13,Green Sea Turtle,80,"Oceans, Beaches",Endangered

Create a column Threat Level that categorises species into High, Medium, or Low based on their Conservation Status:

In [96]:
def classify_threat(status):
    if "Endangered" in status:
        return "High"
    elif "Vulnerable" in status:
        return "Medium"
    else:
        return "Low"

In [103]:
dfa["Threat Level"] = dfa["Conservation Status"].apply(lambda x: classify_threat(str(x)))
dfa.head()

,Species,Average Lifespan (Years),Habitat,Conservation Status,Threat Level
0,African Elephant,60,Grasslands,Vulnerable,Medium
1,Bengal Tiger,15,Forests,Endangered,High
2,Blue Whale,80,Ocean,Endangered,High
3,Giant Panda,20,Temperate Forest,Vulnerable,Medium
4,Komodo Dragon,30,Islands,Vulnerable,Medium